# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
/[Pp]latforms/
bin/
.vs/Psicopedia/v15/.suo
*.apk
*.user
simulation/app-host.js
simulation/app-host.json
simulation/sim-host.js
*.json
.vs/Psicopedia/v15/.suo
bin/Android/Debug/android-debug-unaligned.apk
bin/Android/Debug/android-debug.apk
Psicopedia.jsproj.user
simulation/app-host.js
simulation/app-host.json
simulation/sim-host.js
simulation/sim-host.json
