#imagenPpal {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 120px !important;
    height: 120px !important;
}
#imagenSec {
    float: right;
    margin: 10px 10px 10px 10px;
    width: 120px !important;
    height: 120px !important;
}
#sec {
    text-align:center;
}
p {
    text-indent: 2em;
    margin-left: 10px;
    margin-right: 10px;
}
#TituloArticulo {
    font-family:Georgia, Serif !important;
}