#imagenPpal {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 70px !important;
    height: 70px !important;
}

#imagenSec {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 70px !important;
    height: 70px !important;
}


p {
    text-align: justify;
    text-indent: 2em;
}

#TituloArticulo {
    font-family: Georgia, Serif !important;
    text-decoration: underline;
}
